.container {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}

.form_container {
    margin-bottom: 10%;
    border: 2px solid #907730;
    padding: 2%;
    border-radius: 10px;
    background: #232323;
    box-shadow: #907730 20px 20px 30px -10px;
}

.title {
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    font-size: 4vw;
    color: transparent;
    -webkit-text-stroke: 1px #907730;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 5vw;
    align-content: center;
    margin-top: 10%;
    width: 80%;
}

.form.form_signIn {
    margin-top: 5%;
}

.form.form_signUp {
    margin-top: 5%;
}

.checkbox_con{
    display: flex;
    margin-left: 5%;
    column-gap: 1vw;
}


.form.ar {
    direction: rtl;
}

.label {
    display: flex;
    column-gap: 1vw;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    color: white;

}

.input {
    background: transparent;
    width: 50%;
    border-bottom: 2px solid white;
    outline: none;
    padding: 10px;
}


.input.fixlanguages {
    background-color: black;
    width: auto;
    margin-left: 5%;
}

.input.fixlanguages {
    background-color: black;
    width: auto;
    margin-left: 5%;
}

.input::placeholder {
    text-align: center;
}

.input:focus::placeholder {
    color: #907730;
}

.input:focus {
    border-bottom: 2px solid #907730;
}

.package_con {
    display: flex;
    column-gap: 5vw;
}

.type_con {
    display: flex;
    align-items: center;
    column-gap: 5vw;
    list-style-type: none;
}


.lb {
    display: block;
    font-size: 2.5vw;
    background: rgba(0, 0, 0, 0.514);
    font-family: 'Abel', sans-serif;
    color: white;
    border-radius: 10%;
}


.lb:hover {
    color: #907730;
    transform: scale(1.1);
}

.type_con input[type="radio"] {
    opacity: 0.01;
    display: none;
    z-index: 100;
}

.type_con input[type="radio"]:checked+label,
.Checked+label {
    background: black;
    color: #907730;
}

.type_con label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}

.btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3%;
}


.signin_btns_con {
    display: flex;
    flex-direction: column;
    column-gap: 2vw;
}

.signother_con {
    display: flex;
    width: 50%;
    column-gap: 1vw;
    justify-content: space-evenly;
}

.btn_gf {
    display: flex;
    padding: 10px;
    column-gap: 1vw;
    align-items: center;
    width: fit-content;
    font-size: 1.5vw;
    background: transparent;
    border-radius: 15%;
    color: white;
    border-bottom: 2px solid white;
}

.btn_gf:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #907730;
    color: #907730;
}


.forget {
    margin-top: 3%;
    color: white;
    font-size: 1vw;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    width: fit-content;
}

.forget.account {
    font-size: 1.5vw;
}

.forget.account:hover {
    transform: none;
    border-bottom: none;
}


.forget:hover {
    transform: scale(1.1);
    border-bottom: 1px solid white;
}

.h1 {
    color: white;
    font-size: 1.5vw;
}

.btn {
    display: block;
    padding: 10px;
    font-size: 1.5vw;
    color: white;
    border-bottom: 2px solid white;
    border-radius: 5px;
}

.btn.up {
    width: 100%;
    background: #907730;
    margin-top: 2%;
    font-size: 1.2vw;
    border-bottom: none;
}

.btn_nm {
    font-size: 2.5vw;
    width: fit-content;
    border-radius: 15px;
    padding: 10px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.427);
}

.btn_nm:hover {
    transform: scale(1.1);
    color: #907730;
}

.btn.up:hover {
    transform: scale(1.1);
    color: white;
}


.btn:hover {
    color: #907730;
    border-bottom: 2px solid #907730;
    transform: scale(1.1);
}

.btn:active {
    transform: scale(1.0);
}


@media (max-width:500px) {

    .title {
        font-size: 8vw;
    }

    .label {
        align-items: start;
        font-size: 5vw;
        flex-direction: column;
    }

    .form {
        row-gap: 20vw;
        width: 100%;
        margin-top: 10%;
    }

    .form.form_signUp {
        margin-top: 5%;
        padding-left: 2%;
        margin-bottom: 2%;
    }

    .checkbox_con{
        margin-left: 0;
        margin-top: 2%;
    }

    .input {
        width: 100%;
        margin-top: 2%;
    }

    .input.fixlanguages {
        background: green;
    }

    .type_con {
        align-items: start;
        flex-direction: column;
        row-gap: 10vw;
    }

    .lb {
        font-size: 6vw;
    }

    .btn {
        font-size: 7vw;
    }

    .btn_nm {
        font-size: 7vw;
    }

}