.container {
    display: flex;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 2%;
    row-gap: 4vw;
    overflow: hidden;
}

.container.ru {
    width: 90%;
}

.container_2 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
}

.vid {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100vw;
    height: 100%;

}

.H1 {
    color: #907730;
    font-size: 6vw;
}


.H2 {
    color: white;
    font-size: 2vw;
}

.circle {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/it_head.jpg) no-repeat center center;
    background-size: cover;
    align-self: center;
    justify-self: end;
    width: 30vw;
    height: 60vh;
    margin-bottom: 5%;
    border-radius: 50%;
    z-index: 5;
}

.title {
    display: flex;
    justify-content: center;
    -webkit-text-stroke: #907730 1px;
    text-align: center;
    align-items: center;
    font-size: 5vw;
    /* color: white; */
}

.logo_bg {
    display: flex;
    position: absolute;
    background-color: black;
    width: 30%;
    border-radius: 50%;
    top: 80%;
    height: 35%;
    z-index: 1;
}


.wrapper {
    display: flex;
    position: relative;
    margin-top: -2vw;
    border-top: 2px solid rgba(255, 255, 255, 0.333);
    background: rgba(0, 0, 0, 0.453);
    overflow: hidden;
    z-index: 1;
}

.ticker {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 3vw;
    text-shadow: 2px 2px 8px white;
    -webkit-text-stroke: white 1px;
    z-index: 1;
    animation: marquee 20s linear infinite;
}

.text_ticker {
    flex: 0 0 auto;
    margin-right: 50px;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(65%);
    }

    50% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(65%);
    }

}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:1200px) {
    .circle {
        width: 50vw;
    }
}

@media (max-width:768px) {
    .circle {
        width: 70%;
    }
}

@media (max-width:570px) {

    .circle {
        width: 80%;
    }

}


@media(max-width:500px) {

    .container.ar {
        width: 90%;
    }

    .container.es {
        width: 90%;
    }

    .H1 {
        font-size: 10vw;
    }

    .H2 {
        font-size: 4vw;
    }

    .container_2 {
        justify-content: center;
    }

    .circle {
        width: 80vw;
        height: 50vh;
    }
}