.container {
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 2%;
    row-gap: 4vw;
}

.container_2 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
}

.vid {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100vw;
    height: 100%;

}

.H1 {
    color: #907730;
    font-size: 6vw;
}


.H2 {
    color: white;
    font-size: 2vw;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/it_head.jpg) no-repeat center center;
    background-size: cover;
    align-self: center;
    justify-self: end;
    width: 30vw;
    height: 60vh;   
    margin-bottom: 5%;
    border-radius: 50%;
    position: relative;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: white;
}

.logo_bg {
    display: flex;
    position: absolute;
    background-color: black;
    width: 30%;
    border-radius: 50%;
    top: 80%;
    height:35%;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media(max-width:425px) {
    .H1 {
        font-size: 10vw;
    }

    .H2 {
        font-size: 4vw;
    }
}