.container {
    margin: 1% 5%;
    z-index: 2;
    position: absolute;
    right: 0;
    left: 0;
}

.container2 {
    display: flex;
    padding: 1% 5%;
    z-index: 2;
    position: absolute;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.055);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
}

.logo {
    width: 10vw;
}

.Nav_con.ru {
    width: 55%;
}


.nav_con.ru{
    width: 50%;
}

.navigation {
    font-family: 'Abel', sans-serif;
}


.navigation:hover {
    border-radius: 5px;
    color: #907730;
}

.selection {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    box-sizing: border-box;
    background: linear-gradient(36deg, rgba(2, 0, 36, 1) 8%, rgba(23, 23, 149, 1) 100%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
}

.menu:target {
    transform: translateX(0);
}

.bar {
    padding: 1% 5%;
}

.nav_mobile {
    align-self: center;
    width: fit-content;
    margin-top: 5vw;
}

.logout {
    display: flex;
    position: relative;
    padding: 10px;
    border-radius: 30%;
    background: rgba(2, 0, 36, 1);
    font-size: 3vw;
    cursor: pointer;
    color: crimson;
}

.logout:hover{
    transform: scale(1.1);
    color: red;
    box-shadow: 0 0 50px 10px red;
}

.logout:active {
    transform: scale(0.9);
}

.btn_container {
    column-gap: 2vw;
}

.btn {
    display: block;
    padding: 10px;
    background: rgb(231, 228, 228);
    font-size: 1.1vw;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(1.1);
    color: white;
    background: #0073FB;
}

.btn:active {
    transform: scale(1.0);
}

.btn:nth-child(2) {
    background: rgb(7, 5, 5);
    color: white;
}

.btn:nth-child(2):hover {
    transform: scale(1.1);
    color: black;
    background: #907730;
}

.btn.ru{
    /* background: red; */
}

.menu_mobile {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
}

.mob_hover:hover {
    width: 100%;
    color: #907730;
    transform: scale(1.1);
    border-bottom: 2px solid#907730;
    border-radius: 20%;
}

@media(min-width:2000px) {
    .logo {
        width: 10vw;
    }

    .navigation {
        font-size: 1.5vw;
    }

    .globe {
        width: 4vw;
        height: 2vw;
    }

    .selection {
        font-size: 1.5vw;
    }
}


@media (max-width:768px) {

    .logo {
        width: 15vw;
    }

    .container {
        margin: 1% 2%;
    }

    .bar {
        padding: 1% 2%;
    }

    .btn {
        font-size: 2vw;
    }

}

@media (min-width:768px) {
    .menu {
        display: none;
    }
}


@media (max-width:425px) {

    .logo {
        width: 25vw;
    }

    .btn_container {
        column-gap: 3vw;
        width: 100%;
    }

    .container {
        margin: 1% 1%;
    }


    .menu_mobile {
        column-gap: 2%;
    }

    .btn {
        font-size: 4vw;
    }
}